<div class="header">
    <a href="/" class="logo-section">
        <img class="website-logo" src="/images/website-logo.png" alt="website-logo">
        <h1 class="website-name">HeroByte</h1>
    </a>
    <label for="toggle-burger-menu" class="burger-menu">
        <div class="burger-icon"></div>
        <input type="checkbox" id="toggle-burger-menu">
    </label>
    <div class="login-register-section">
        <a href="/login" class="btn-style-1 login-btn">Iniciar sesion</a>
        <a href="/register" class="btn-style-1 register-btn">Registrarse</a>
    </div>
</div>